@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  box-sizing: border-box;
  font-family: "Cantarell", "Roboto", "Ubuntu", sans-serif;
  font-style: italic;
  color: #1d1d1d;
  background-color: #1d1d1d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 60%;
  background: rgb(255, 166, 57);
  background: linear-gradient(
    to right,
    #ffa639 0%,
    #dd00d0 40%,
    #ffffff 40%,
    #ffffff 100%
  );
}

.info-links {
  margin: 0.5rem 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.info-links a {
  color: rgb(219, 0, 205);
}

.mainTitle {
  text-align: center;
  grid-column: 1/2;
  writing-mode: vertical-lr;
  font-size: 6rem;
  line-height: 0.8;
  letter-spacing: 0.01em;
  color: #fff;
  box-shadow: 1px 0px 5px #1d1d1d;
}

.metroContainer {
  display: grid;
  grid-template-rows: 1.5fr .75fr 2fr .75fr 1fr;
  padding: 2.75rem 1.5rem;
  justify-items: center;
  align-items: center;
}

.metroContainer h3 {
  text-align: center;
  width: 100%;
  font-size: 5rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  width: 75px;
  height: 75px;
  background-color: #fff;
  font-style: italic;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #ffa639, #dd00d0);
  cursor: pointer;
  box-shadow: 0px 0px 3px #6d6d6d;
}

.button:hover {
  box-shadow: 0px 0px 5px #1d1d1d;
}

.button:first-of-type {
  align-self: flex-end;
}
.button:nth-of-type(2) {
  align-items: flex-end;
  align-self: flex-start;
}

.buttonStart,
.buttonStop {
  width: 150px;
  height: 75px;
  font-size: 2rem;
  text-transform: uppercase;
}

.buttonStart:hover {
  border-image-source: linear-gradient(to right, #ffa639, #dd00d0);
}

input[type="range"] {
  height: 100%;
  width: calc(100% - 5vh);
  margin: 0;
  background-color: transparent;
  -webkit-appearance: none;
  transform: rotate(-90deg);
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(to left, #ffa639, #dd00d0);
  border-radius: 5px;
  height: 1rem;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -1rem;
  width: 10px;
  height: 50px;
  background: #1d1d1d;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: linear-gradient(to left, #ffa639, #dd00d0);
}
input[type="range"]::-moz-range-track {
  background: linear-gradient(to left, #ffa639, #dd00d0);
  border-radius: 5px;
  height: 1rem;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 50px;
  background: #1d1d1d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 15.1px 0;
  color: transparent;
  width: 100%;
  height: 19.8px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: linear-gradient(to left, #ffa639, #dd00d0);
  border: 0;
  border-radius: 5px;
}
input[type="range"]::-ms-fill-upper {
  background: linear-gradient(to left, #ffa639, #dd00d0);
  border: 0;
  border-radius: 5px;
}
input[type="range"]::-ms-thumb {
  width: 10px;
  height: 50px;
  background: #1d1d1d;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: linear-gradient(to left, #ffa639, #dd00d0);
}
input[type="range"]:focus::-ms-fill-upper {
  background: linear-gradient(to left, #ffa639, #dd00d0);
}
